:root {
  --dark-bg-color: #1a1819;
  --medium-bg-color: #3A3A40;
  --light-bg-color: #4b4b4c;
  --hover-bg-color: #49494B;
  --dark-text-color: #B1B1B9;
  --light-text-color: #EFE7E6;
  --header-color: #B84244;
  --link-color: #986162;
  --link-hover-color: #A26D6E;
  --lighter-bg-color: #565658;
}

body {
  background: var(--medium-bg-color);
  color: var(--light-text-color);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

.bg-steel {
  background-color: var(--dark-bg-color);
}

.site-header .navbar-nav .nav-link {
  color: var(--dark-text-color);
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--light-text-color);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: var(--light-bg-color);
  padding: 10px 20px;
  border: 1px solid var(--dark-text-color);
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.media {
  align-items: center;
}

#sidebar {
  visibility: hidden;
}

label {
  display: inline-block;
  width: 100px;
  text-align: center;
  align-self: center;
}

button a {
  text-decoration: none;
  color: var(--light-text-color);
}

a:link {
  color: var(--link-color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--dark-text-color);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: var(--header-color);
  background-color: transparent;
  text-decoration: none;
}

.list-group-item {
  background-color: var(--lighter-bg-color);
}

.article-svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}