{% extends 'layout.html' %}

{% block facebook_meta %}
<meta property="og:description" content="עניתי על שאלון הקינק של קינקיברי!" />
{% endblock facebook_meta %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='range.css') }}">
{% endblock additional_styles %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>התשובות של {{ current_user.username }}</h1>
{% else %}
<h1>התשובות שלך</h1>
{% endif %}
<form id="form" method="" action=""></form>
{% include 'facebook_share.jinja.html' %}
<!-- <button type="button"><a href="{#{ url_for('main.answers_pdf', id=answer_id) }#}">הורדה כ-pdf</a></button> -->
<script>
    function buttonPressed() {
        // copy the share message to clipborad and change the button text accordingly
        copyToClipboard();
        btn = document.getElementById('copyButton');
        btn.innerText = 'הקישור הועתק! אפשר לשתף!';
    }
    function copyToClipboard() {
        // create a share message and copy it to the clipboard
        const content = document.createElement('textarea');
        content.value = `עניתי על השאלון של קינקיברי!\n{{ page_url }}`;
        content.value = content.value.replace('null\n\n', '');
        document.body.appendChild(content);
        content.select();
        content.setSelectionRange(0, 99999);
        document.execCommand('copy');
        document.body.removeChild(content);
    }
</script>
<button class="btn btn-secondary btn-sm" id="copyButton" onClick="buttonPressed()">העתיקו ושתפו!</button>
{% endblock content %}

{% block content_section %}
<h3>קטגוריות</h3>
<p>גלו או הסתירו חלקים מהשאלון</p>
<ul class="list-group" id="categoryList">
</ul>
{% endblock content_section %}

{% block scripts %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script>
    fetchQuestions(freeze = true, answerId = {{ answer_id }});
</script>
{% endblock scripts %}