{% extends 'questionary_with_jinja.html' %}

{% block facebook_meta %}
{% if current_user.is_authenticated %}
<meta property="og:description" content="עניתי על שאלון הקינק של קינקיברי!" />
{% else %}
<meta property="og:description" content="שאלון הקינק של קינקיברי" />
{% endif %}
{% endblock facebook_meta %}

{% block submit %}
{% endblock submit %}

{% block sharing_options %}
{% include 'facebook_share.jinja.html' %}
<a href="{{ url_for('users.answers_pdf', username=user.username) }}"><button type="button"
        class="btn btn-secondary btn-sm">הורדה
        כ-pdf</button></a>
<script>
    function buttonPressed() {
        // copy the share message to clipborad and change the button text accordingly
        copyToClipboard();
        btn = document.getElementById('copyButton');
        btn.innerText = 'הקישור הועתק! אפשר לשתף!';
    }
    function copyToClipboard() {
        // create a share message and copy it to the clipboard
        const content = document.createElement('textarea');
        content.value = `עניתי על השאלון של קינקיברי!\n{{ page_url }}`;
        content.value = content.value.replace('null\n\n', '');
        document.body.appendChild(content);
        content.select();
        content.setSelectionRange(0, 99999);
        document.execCommand('copy');
        document.body.removeChild(content);
    }
</script>
<button class="btn btn-secondary btn-sm" id="copyButton" onClick="buttonPressed()">העתיקו ושתפו!</button>
{% endblock sharing_options %}