{% extends 'layout.html' %}
{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='range.css') }}">
{% endblock additional_styles %}
{% block content %}
{% if current_user.is_authenticated %}
<h1>התשובות של {{ current_user.username }}</h1>
{% else %}
<h1>התשובות שלך</h1>
{% endif %}
<form id="form" method="" action=""></form>
{% endblock content %}
{% block content_section %}
<h3>ניווט</h3>
<ul class="list-group" id="categoryList">
</ul>
{% endblock content_section %}
{% block scripts %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script>
    fetchQuestions(freeze = true, answerId = {{ answer_id }});
</script>
{% endblock scripts %}