{% extends 'layout.html' %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='range.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='balloon.css') }}">
<style>
    .carousel-control-prev,
    .carousel-control-next {
        /* Aligns it at the bottom */
        align-items: flex-end;
        position: absolute;
    }

    .carousel {
        margin-left: 60px;
        margin-right: 60px;
    }

    .carousel-control-next {
        margin-left: -65px;
    }

    .carousel-control-prev {
        margin-right: -65px;
    }
</style>
{% endblock additional_styles %}

{% block content %}
{% if user.username %}
<h1>התשובות של <a href="{{ url_for('users.profile', username=user.username) }}">{{ user.username }}</a></h1>
{% else %}
<h1>שאלון הגבולות והנטיות של קינקיברי</h1>
{% endif %}
<form id="form" method="POST" action="{{ url_for('main.submit_questionary') }}" onsubmit="selectCategories()">
    <div id="carousel" class="carousel slide" data-ride="false" data-interval="false">
        <div class="carousel-inner">
            {% for category in categories %}
            <div class="carousel-item">
                <section id="category-{{ category.id }}-section" class="category-{{ category.id }}">
                    <h2 class="category-{{ category.id }}">{{ category.name }}
                        {% if category.explanation %}
                        <a href="#" data-balloon="{{ category.explanation }}" data-balloon-pos="left"
                            data-balloon-length="{{ category.explanation_size }}"><small>?</small></a>
                        {% endif %}
                    </h2>
                    <fieldset id="category-{{ category.id }}-fieldset" class="form-fieldset category-{{ category.id }}">
                        <div class="m-3">
                            {% for question in category.questions %}
                            <h3 class="category-{{ category.id }}">{{ question.question }}
                                {% if question.explanation %}
                                <a href="#" data-balloon="{{ question.explanation }}" data-balloon-pos="left"
                                    data-balloon-length="{{ question.explanation_size }}"><small>?</small></a>
                                {% endif %}
                            </h3>
                            <div class="row form-group">
                                <label for="{{ question.id }}" class="category-{{ category.id }}">רצון</label>
                                {% if disabled and user.answer %}
                                <input type="range" name="{{ question.id }}" id="{{ question.id }}"
                                    class="category-{{ category.id }} form-control-range slider questionary-input"
                                    value="{{ user.answer(question.id).exp_answer }}" disabled>
                                {% elif user.answer %}
                                <input type="range" name="{{ question.id }}" id="{{ question.id }}"
                                    class="category-{{ category.id }} form-control-range slider questionary-input"
                                    value="{{ user.answer(question.id).exp_answer }}">
                                {% else %}
                                <input type="range" name="{{ question.id }}" id="{{ question.id }}"
                                    class="category-{{ category.id }} form-control-range slider questionary-input">
                                {% endif %}
                            </div>
                            <br>
                            <div class="row form-group">
                                <label for="{{ question.id }}s" class="category-{{ category.id }}">ניסיון</label>
                                {% if disabled and user.answer %}
                                <input type="range" name="{{ question.id }}s" id="{{ question.id }}s"
                                    class="category-{{ category.id }} form-control-range slider questionary-input"
                                    value="{{ user.answer(question.id).wil_answer }}" disabled>
                                {% elif user.answer %}
                                <input type="range" name="{{ question.id }}s" id="{{ question.id }}s"
                                    class="category-{{ category.id }} form-control-range slider questionary-input"
                                    value="{{ user.answer(question.id).wil_answer }}">
                                {% else %}
                                <input type="range" name="{{ question.id }}s" id="{{ question.id }}s"
                                    class="category-{{ category.id }} form-control-range slider questionary-input">
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </section>
            </div>
            {% endfor %}
            <script>document.getElementsByClassName('carousel-item')[0].classList.add('active');</script>
        </div>
        <br>
        {% if categories|length > 1 %}
        <div class="carousel-control m-2">
            <a class="carousel-control-prev left" href="#carousel" role="button" data-slide="prev">
                <button class="btn btn-secondary">הקודם</button>
            </a>
            <a class="carousel-control-next right" href="#carousel" role="button" data-slide="next">
                <button class="btn btn-secondary">הבא</button>
            </a>
        </div>
        {% endif %}
    </div>
    <br>
    {% block submit %}
    <hr>
    <fieldset class="form-fieldset carousel">
        <div class="m-2">
            <h3>בחרו אילו קטגוריות אחרים יראו</h3>
            <p class="m-2">שימו לב: קטגוריות לא מסומנות לא ישמרו ואחרים לא יראו אותן בעמוד התוצאות שלכם\ן.</p>
            {% for category in categories %}
            <input type="checkbox" id="category-{{ category.id }}-checkbox" name="category-{{ category.id }}-checkbox"
                value="{{ category.id }}">
            <label for="category-{{ category.id }}-checkbox">{{ category.name }}</label>
            <br>
            {% endfor %}
        </div>
    </fieldset>
    <input class="btn btn-outline-info questionary-input questionary-button" type="submit" name="submit" id="submit"
        value="סיימתי">
    {% endblock submit %}
</form>

{% block sharing_options %}
{% endblock sharing_options %}

{% endblock content %}

{% block content_section %}
{% include 'user_content_section.jinja.html' %}
{% endblock content_section %}